.login {
    margin: 150px 0;
    justify-content: space-evenly;
}

.right-side{
    width: 30%;
    padding: 50px 0;
}

.right-side h3 {
    margin-bottom: 30px;
}

form input {
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    padding: 8px 20px;
    border-radius: 15px;
}
form input::placeholder {
    color: #c4c4c4;
}

.btn-login {
    background-color: #092C4C;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
}

.btn-login:hover {
    color: white;
    background-color: #f88520;
    border: none;
}

.btn-login a, .btn-login a:hover {
    text-decoration: none;
    color: white;
}