.konten.pengajuan {
    margin: 80px;
  }
  /* .col-6 {
    border: 1px solid;
  } */

  .konten.pengajuan .title {
    font-weight: 700;
    text-align: center;
    margin: 20px;
  }
  .input-1 {
    border: 1px solid #c4c4c4;
    padding: 8px 20px;
    border-radius: 15px;
    margin: 5px 0;
  }
  .input-1 input::placeholder {
    color: #c4c4c4;
  }
  .konten.pengajuan label {
    margin-top: 8px;
  }

  .list-surat {
    border: 1px solid;
  }
  .item-surat {
    margin: 0;
    border: 1px solid red;
    
  }